<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--thymeleaf 사용하기 위한 xmlnamespace 설정-->
<head th:replace="fragments.html::head"></head>
<body class="bg-light">
  <div th:replace="fragments.html::main-nav"></div>

  <div class="container">
    <div class="py-5 text-center">
      <h2>스윗미 이메일 인증</h2>
    </div>

    <div class="row justify-content-center">
      <form class="needs-validation col-sm-6" action="#"
            th:action="@{/check-email}" th:object="${emailVerificationForm}" method="post" novalidate>

        <div class="form-group">
          <label for="token">토큰</label>
          <input id="token" type="text" th:field="*{token}" class="form-control"
                 placeholder="token" aria-describedby="tokenHelp" required>
          <small id="tokenHelp" class="form-text text-muted">
            받은 이메일의 토큰을 입력하세요.
          </small>
          <small class="invalid-feedback">토큰을 입력하세요.</small>
          <small class="form-text text-danger" th:if="${#fields.hasErrors('token')}" th:errors="*{token}">
            (default message) 토큰이 올바르지 않습니다.
          </small>

          <p></p>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit"
                    aria-describedby="submitHelp">제출
            </button>
          </div>
        </div>
      </form>
    </div>
    <div th:replace="fragments.html::footer"></div>
  </div>

</body>
<script th:replace="fragments.html :: form-validation"></script>
</html>